@import './utilities/utilities';
@import './components/components';

body[data-aos-duration='1000'] [data-aos],
[data-aos][data-aos][data-aos-duration='1000'] {
  transition-duration: 1000ms;
}

body[data-aos-duration='1500'] [data-aos],
[data-aos][data-aos][data-aos-duration='1500'] {
  transition-duration: 1500ms;
}

html {
  scroll-behavior: smooth;
}
body {
  z-index: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff8e4;
}

h1 {
  font-family: 'nt_wagnerbold';
  color: #554706;
  font-size: 4rem;
}
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
}

.first-container {
  background-image: url('../assets/images/wave-medium-upper.svg');
  @include flexColumnSpaceBetween;
  @include centerBackground;
  background-attachment: unset;
  height: 80vh;
  width: 100vw;
  padding: 40px;
  padding-top: 10rem;
  background-size: 120%;

  @include verticalTablet{
    background-image: url('../assets/images/wave-right-to-left.svg');
    @include centerBackground;
  }

  @include desktop{
   
    height: 90vh;
    padding-top: 10rem;
    background-size: 105%;
    div:last-of-type {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  h1 {
    @include desktop{
      margin-top:6rem;
      font-size: 7.5rem;
    }
    @include desktopXLarge{
      font-size: 9rem;
    }
  }

  .slogan {
    background-color: #fff8e4e8;
    border-radius: 6px;
    padding: 0.6rem;
    width: 80%;
    @include desktop{
      width: 45%;
      margin-bottom: 2rem ;
    }

    p {
      color: $base-red;
      font-size: 1.4rem;
      font-weight: $fw-regular;

      @include desktop{
        font-size: 2.5rem;
        font-weight: $fw-bold;
      }
      @include desktopXLarge{
        font-size: 4rem;
      }
    }
    &:hover {
      text-decoration: underline;
      color: $base-red;
      cursor: pointer;
    }
  }


}

.second-container {
  width: 100vw;
  padding: 40px;
  display: contents;
  .main-chunk {
    background-color: #fff8e4;
    padding: 50px 20px;
    @include desktop{
      padding: 70px;
    }
    #first-top {
      padding-top: 1rem;
    }
    .top-three {
      padding: 2.5rem 0;
    }
  }

  h2 {
    font-size: 2.5rem;
    font-family: 'Space Mono', monospace;
    margin: 40px 0;
    color: #554706; 
    @include desktop{
      font-size: 3rem;
    }
    @include desktopXLarge{
      font-size: 4rem;
    }
  }

  h3,
  p {
    color:#554706; 
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 500;
    @include desktop{
      font-size: 2rem;
    }
    @include desktopXLarge{
      font-size: 2.4rem;
    }
  }

  p {
    @include desktop{
      font-size: 1.5rem;
    }
    @include desktopXLarge{
      font-size: 2rem;
    }
  }


}

.third-container {
  @include flexColumnSpaceBetween;
  @include centerBackground;
  background-image: url('../assets/images/wave-left-to-right.svg');
  width: 100vw;
  padding: 40px 40px 0 40px;
  background-size: 110%;
  h1 {
    @include desktop{
      font-size: 6.5rem;
      margin-top: 70px;
    }
    @include desktopXLarge{
      font-size: 7rem;
    }
  }
  .project {
    width: 100%;
    margin: 2rem 0;
    color: #554706;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid;
    border-left: 10px solid #554706;
    background-color: #fff8e49a;
    h3,
    p {
      color: #554706;
    }
    h3 {
      font-family: 'Space Mono', monospace;
      font-size: 1rem;
      font-weight: 500;
      @include desktop{
        font-size: 2.1rem;
      }
      @include desktopXLarge{
        font-size: 2.5rem;
      }
    }
    p {
      @include desktop{
        font-size: 1.4rem;
      }
      @include desktopXLarge{
        font-size: 1.8rem;
      }
    }
    a:hover {
      text-decoration: underline;
      color: cornflowerblue;
    }
  }



  .last-message-wrapper {
    display: flex;
    background-color: #fff8e4e8;
    border-radius: 6px;
    padding: 1.5rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;

    @include desktop{
      margin-bottom: 7rem;
      width: 60%;
    }

    p {
      color: $base-red;
      font-size: 1.2rem;
      font-weight:$fw-regular;
      @include desktop{
        font-size: 1.5rem;
      }
      @include desktopXLarge{
        font-size: 2rem;
      }
    }
    .croissant {
      padding-left: 0.625rem;
      animation-name: wave-animation-left;
      animation-duration: 3s;
      transform-origin: 70% 70%;
      display: inline-block;
      animation-iteration-count: infinite;
      height: 50px;
    }

    .coffee {
      animation-duration: 3s;
      animation-name: wave-animation-right;
      transform-origin: 70% 70%;
      display: inline-block;
      animation-iteration-count: infinite;
      height: 60px;
    }
  }
}
