@import './utilities/utilities';
@import './components/components';

html {
  scroll-behavior: smooth;
}
body {
  z-index: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff8e4;

  h1 {
    //font-family: 'LittleBirds';
    font-family: 'nt_wagnerbold';
    color: #554706;
    font-size: 3.3rem;
  }
}
body[data-aos-duration='1000'] [data-aos],
[data-aos][data-aos][data-aos-duration='1000'] {
  transition-duration: 1000ms;
}

body[data-aos-duration='1500'] [data-aos],
[data-aos][data-aos][data-aos-duration='1500'] {
  transition-duration: 1500ms;
}

h1 {
  //font-family: 'LittleBirds';
  font-family: 'nt_wagnerbold';
  color: #554706;
  font-size: 3.5rem;
}
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
}

.first-container {
  @include flexColumnSpaceBetween;
  @include centerBackground;
  background-image: url('../assets/images/wave-right-to-left.svg');
  height: 85vh;
  width: 100vw;
  padding: 40px;
  padding-top: 10rem;
  background-size: 120%;

  /* Desktops and laptops ----------- */
  @media only screen and (min-width: 1224px) {
    height: 110vh;
    padding-top: 15rem;
    background-size: 105%;
  }

  h1 {
    /* Desktops and laptops ----------- */
    @media only screen and (min-width: 1224px) {
      font-size: 6.5rem;
    }
    /* Large screens ----------- */
    @media only screen and (min-width: 1824px) {
      font-size: 7rem;
    }
  }

  .slogan {
    background-color: #fff8e4e8;
    border-radius: 6px;
    padding: 0.6rem;
    width: 80%;
    /* Desktops and laptops ----------- */
    @media only screen and (min-width: 1224px) {
      width: 40%;
      margin-bottom: 5rem 2rem;
    }
    p {
      color: $base-red;
      font-size: 1.4rem;
      font-weight: 600;
      /* Desktops and laptops ----------- */
      @media only screen and (min-width: 1224px) {
        font-size: 3rem;
        font-weight: 900;
      }
      /* Large screens ----------- */
      @media only screen and (min-width: 1824px) {
        font-size: 4rem;
      }
    }
    &:hover {
      text-decoration: underline;
      color: $base-red;
      cursor: pointer;
    }
  }
}

.second-container {
  width: 100vw;
  padding: 40px;
  display: contents;

  h2 {
    font-size: 2.5rem;
    color: #d06343;
    font-family: 'Space Mono', monospace;
    text-decoration: underline;
    margin: 40px 0;
    /* Desktops and laptops ----------- */
    @media only screen and (min-width: 1224px) {
      font-size: 3rem;
    }

    /* Large screens ----------- */
    @media only screen and (min-width: 1824px) {
      font-size: 4rem;
    }
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #d06343;
    /* Desktops and laptops ----------- */
    @media only screen and (min-width: 1224px) {
      font-size: 2rem;
    }

    /* Large screens ----------- */
    @media only screen and (min-width: 1824px) {
      font-size: 2.4rem;
    }
  }

  p {
    /* Desktops and laptops ----------- */
    @media only screen and (min-width: 1224px) {
      font-size: 1.5rem;
    }

    /* Large screens ----------- */
    @media only screen and (min-width: 1824px) {
      font-size: 2rem;
    }
  }

  h3,
  p {
    color: #554706;
  }

  .main-chunk {
    // background-color: #b0ded836;
    background-color: #9e9e9e4d;
    padding: 50px 20px;

    /* Desktops and laptops ----------- */
    @media only screen and (min-width: 1224px) {
      padding: 70px;
    }

    #first-top {
      padding-top: 1rem;
    }
    .top-three {
      padding: 2.5rem 0;
    }
  }
}

.third-container {
  @include flexColumnSpaceBetween;
  @include centerBackground;
  background-image: url('../assets/images/wave-left-to-right.svg');
  width: 100vw;
  padding: 40px 40px 0 40px;
  background-size: 110%;

  h1 {
    /* Desktops and laptops ----------- */
    @media only screen and (min-width: 1224px) {
      font-size: 6.5rem;
      margin-top: 70px;
    }
    /* Large screens ----------- */
    @media only screen and (min-width: 1824px) {
      font-size: 7rem;
    }
  }

  .project {
    width: 100%;
    margin: 2rem 0;
    color: #554706;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid;
    border-left: 10px solid #554706;
    background-color: #fff8e49a;

    h3,
    p {
      color: #554706;
    }

    h3 {
      font-family: 'Space Mono', monospace;
      font-size: 1rem;
      font-weight: 500;
      /* Desktops and laptops ----------- */
      @media only screen and (min-width: 1224px) {
        font-size: 2.1rem;
      }
      /* Large screens ----------- */
      @media only screen and (min-width: 1824px) {
        font-size: 2.5rem;
      }
    }

    p {
      /* Desktops and laptops ----------- */
      @media only screen and (min-width: 1224px) {
        font-size: 1.4rem;
      }
      /* Large screens ----------- */
      @media only screen and (min-width: 1824px) {
        font-size: 1.8rem;
      }
    }
  }

  a:hover {
    text-decoration: underline;
    color: cornflowerblue;
  }

  .last-message-wrapper {
    display: flex;
    background-color: #fff8e4e8;
    border-radius: 6px;
    padding: 1.5rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;

    /* Desktops and laptops ----------- */
    @media only screen and (min-width: 1224px) {
      margin-bottom: 7rem;
      width: 60%;
    }
    p {
      color: $base-red;
      font-size: 1.2rem;
      font-weight: 600;
      /* Desktops and laptops ----------- */
      @media only screen and (min-width: 1224px) {
        font-size: 1.8rem;
      }
      /* Large screens ----------- */
      @media only screen and (min-width: 1824px) {
        font-size: 2.7rem;
      }
    }
    .croissant {
      padding-left: 0.625rem;
      animation-name: wave-animation-left;
      animation-duration: 3s;
      transform-origin: 70% 70%;
      display: inline-block;
      animation-iteration-count: infinite;
      height: 50px;
    }

    .coffee {
      animation-duration: 3s;
      animation-name: wave-animation-right;
      transform-origin: 70% 70%;
      display: inline-block;
      animation-iteration-count: infinite;
      height: 60px;
    }
  }
}
