@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  flex-direction: $direction;
}

@mixin flexColumnSpaceBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin centerBackgroundBigScreen{
//background-size: cover !important; 
background-position: center; 
background-repeat: no-repeat; 
background-attachment: fixed;
background-position-y: 1.5rem;
background-size:120%;
}

@mixin centerBackgroundSmallScreen{
background-position: center center; 
background-repeat: no-repeat; 
background-attachment: unset !important;
background-size:110%;
}

