header {
  width: 100%;
}
.first-container {
  min-height: 400px;
}
.navbar {
  font-family: 'Space Mono', monospace;
  display: flex;
  background-color: #ffffff6b;
  ul {
    width: 30%;
    justify-content: space-evenly;
  }
  li {
    font-size: 0.85rem;
    a {
      color: #d06343;
    }
    /* Desktops and laptops ----------- */
    @media only screen and (min-width: 1224px) {
      font-size: 1rem;
    }
    // /* Large screens ----------- */
    @media only screen and (min-width: 1824px) {
      font-size: 1.6rem;
    }
  }
  a:hover {
    text-decoration: underline;
  }
}
.navbar-nav {
  display: flex;
  flex-direction: row;
}
.doodle {
  height: 19px;
  /* Desktops and laptops ----------- */
  @media only screen and (min-width: 1224px) {
    height: 40px;
  }

  // /* Large screens ----------- */
  @media only screen and (min-width: 1824px) {
    height: 60px;
  }
}

// /* Desktops and laptops ----------- */
// @media only screen and (min-width: 1224px) {
// }
// /* Large screens ----------- */
// @media only screen and (min-width: 1824px) {
//   /* Styles */
// }
